---
import astroLogo from '../assets/2c8a5b02378e09d2dd891.png';
import background from '../assets/background.svg';
---

<div id="container">
	<img class="fixed top-0 left-0 w-full h-full -z-10 blur-[100px]" src={background.src} alt="" fetchpriority="high" />
	<main>
		<section id="hero">
			<a href="https://blog.chengai77a6b.top/"
				>
				<div class="mx-auto mb-6">
			<img src={astroLogo.src} width="115" height="48" alt="承挨服务器状态监测" /></a
				></div>
			<h1 class="text-[22px] mt-1">
				欢迎来到Minecraft服务器状态监测页面
			</h1>
	<div 
  class="border-l-4 border-indigo-500 
        bg-indigo-50 
        p-4 mb-6 rounded-lg light:bg-indigo-50">
       <p>
		本页面由Astro + TailwindCSS 搭建，使用 Minebbs Api检测服务器在线状态 
	   </p>
 </div>
			</section>
</main>
	<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <div class="flex flex-col items-center">
    <span class="text-3xl">Java版-1.20.1 Forge 47.3.2 模组服</span>
    <img src="https://motd.minebbs.com/api/status_img?ip=222.186.148.79&port=30109&stype=auto&theme=simple"/>
  </div>
  <div class="flex flex-col items-center">
    <span class="text-3xl">RPG服务器 Java版1.20.4</span>
    <img src="https://motd.minebbs.com/api/status_img?ip=222.186.148.79&port=30310&stype=auto&theme=simple"/>
  </div>
  <div class="flex flex-col items-center">
    <span class="text-3xl">火蝾螈生存服(→互通服←)</span>
    <img src="https://motd.minebbs.com/api/status_img?ip=222.186.148.100&port=36500&stype=auto&theme=simple"/>
  </div>
</div>